body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  box-sizing: border-box;
}
textarea {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.semester {
  transition: all 0.5s;
}

.semester:hover {
  position: relative;
  transform: translate(0px, -10px);
  /* transform: scale(1.1); */
  /* background-color: rgba(51, 178, 212, 0.3); */
}
.semester::-webkit-scrollbar {
  width: 6px;
  height: 90%;
}

.semester::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.cardCarousel::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
/* .cardCarousel:hover {
  height: 500px !important;
  height: auto !important;
} */
.cardCarousel::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 3px;
}

.myCard {
  transition: all 0.5s;
  /* height: 600px; */
}
.myCard .cardDes {
  display: none;
}
.myCard:hover {
  transform: scale(1.02);
  width: 400px;
  z-index: 999;
  overflow: auto;
}
.myCard::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.myCard::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  .myCard:hover {
    /* transform: scale(1.2); */
    transform: scale(1.02);
    width: 300px;
    min-width: 300px;
    max-height: auto;
    z-index: 999;

    /* top: 30px; */
  }
  .myCard {
    width: 250px !important;
  }
  .card-head {
    width: 250px !important;
  }
}

.myCard .cardCredits {
  flex-direction: column;
}

.myCard:hover .cardUnit {
  display: none;
}

.myCard:hover .cardDes {
  display: flex;
}
.myCard:hover .cardDes * {
  font-size: 12px !important;
}

.myCard:hover .cardCredits {
  flex-direction: row;
  justify-content: center;
}

::placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}
